.attraction {
  position: relative;
}

.attraction__wrapper-countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 56px 0;
}

.attraction__content {
  display: grid;
  grid-template-columns: 50% auto;
}

@media (max-width: 768px) {
  .attraction__content {
    display: flex;
    flex-direction: column;
  }
}

.attraction__content__list {
  padding: 0;
  height: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .attraction__content__list {
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    gap: 40px;
    justify-content: start;
  }

  .attraction__content__list::-webkit-scrollbar {
    visibility: hidden;
  }
}

.attraction__content__list li {
  cursor: pointer;
  margin: 1rem 0;
  color: #c6ab83;
}

@media (max-width: 768px) {
  .attraction__content__list li {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}

.attraction__content__list .day {
  font-family: "ade-display";
  text-transform: uppercase;
  font-size: 2.4rem;
}

.attraction__content__list .data {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "montserrate-thin";
  text-transform: uppercase;
  font-size: 2.8rem;
}

.attraction__content__list .year {
  font-family: "montserrate-medium";
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .attraction__content__list .day {
    font-size: 1.8rem;
  }

  .attraction__content__list .data {
    display: flex;
    font-size: 2rem;
  }

  .attraction__content__list .data div:nth-child(1) {
    text-wrap: nowrap;
  }

  .attraction__content__list .year {
    font-size: 1rem;
  }
}

.attraction__content__list #current .day {
  font-size: 3.6rem;
  color: #000;
}

.attraction__content__list #current .data {
  font-size: 4rem;
  color: #000;
}

.attraction__content__list #current .year {
  font-size: 1.2rem;
  color: #000;
  letter-spacing: 8px;
}

@media (max-width: 768px) {
  .attraction__content__list #current .day {
    font-size: 2rem;
  }

  .attraction__content__list #current .data {
    font-size: 3rem;
  }
}

.attraction__image {
  /* min-height: 40vh; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attraction__line-vertical {
  position: absolute;
  top: 0;
  width: 2px;
  height: 72%;
  background: #000;
}

.attraction__grafismo-folha {
  position: absolute;
  width: auto;
  top: 89px;
  max-height: 150px;
  left: 0;
  z-index: 2;
}

h2 {
  text-align: center;
}

h2 img {
  height: 3rem;
  width: auto;
}
@media (max-width: 768px) {
  h2 img {
    height: 2rem;
    width: auto;
  }
}

.attraction__content__list h2 {
  text-align: start;
}

.attraction__content__list .container {
  margin: 0;
}

.wrapper__attraction__content {
  border-top: 2px solid transparent;
  border-image: linear-gradient(to right, #000 40%, transparent 60%); /* Define a imagem de borda */
  border-image-slice: 1; /* Define a fatia da imagem de borda */
  border-image-width: 2px; 
  border-image-outset: 0; 
}

.wrapper__attraction__content h2 {
  text-align: start;
}