.meet-baxio {
  position: relative;
}

/* .meet-baixio__backgroung {
  position: absolute;
  right: 0%;
  bottom: 0;
  background-image: url(/src/assets/images/GRAFISMO.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 65vh;
} */

.meet-baxio__content {
  display: flex;

}

.meet-baxio__content img {
  /* display: flex; */

}

.meet-baxio__content .wrapper-ingresse{
  padding: 48px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .meet-baxio__content .wrapper-ingresse{
    flex-direction: column;
    justify-content: center;
  }
}

.meet-baxio__content .wrapper-ingresse .wrapper-ingresse__text {
  max-width: 50%;
  font-size: 18px;
  font-family: "montserrate-light";
  font-weight: 400;
}
@media (max-width: 992px) {
  .meet-baxio__content .wrapper-ingresse .wrapper-ingresse__text {
    max-width: initial;
    padding: 0 16px;
  }
}

.meet-baxio__content .wrapper-ingresse .wrapper-ingresse__button {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.meet-baxio__content .wrapper-ingresse .wrapper-ingresse__button .logo-ingresse {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.meet-baxio__content .wrapper-ingresse .button{
    background: transparent;
    height: 48px;
    padding: 0 32px;
    border-radius: 24px;
    border: 2.3px solid #000;
    font-family: "montserrate-bold";
    text-transform: uppercase;
    font-size: 0.8rem;
}

.meet-baxio__content .wrapper-video{
  display: flex;
  flex-direction: column;
}

.meet-baxio__content .wrapper-video__title {
  font-size: 2.2rem;
  font-family: "ade-display";
  text-transform: uppercase;
  letter-spacing: 8px;
}
@media (max-width: 992px) {
  .meet-baxio__content .wrapper-video__title {
    text-align: center;
  }
}

.meet-baxio__content .wrapper-video__title::after {
  content: ':';
}

.meet-baxio__content .wrapper-video img {
  min-height: 250px;
  max-width: 60%;
}

@media (max-width: 992px) {
  .meet-baxio__content .wrapper-video img {
    max-width: 100%;
  }
}