.reserve {
  padding: 64px 0;
  text-align: center;
}

.reserve a, button {
  cursor: pointer;
}

.reserve__content {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  gap: 8px;
  overflow: auto;
  padding: 8px;
  overflow: auto;
}

.reserve__content img {
  width: 210px;
  height: 360px;
  object-fit: cover;
  border-radius: 120px;
  width: calc(80% / 5);
  min-width: 200px;
  max-width: 240px;
}

.reserve__button {
  margin-top: 16px;
  background: transparent;
  height: 56px;
  width: 250px;
  border-radius: 24px;
  border: 2.3px solid #000;
  font-family: 'montserrate-bold';
  text-transform: uppercase;
  font-size: 0.8rem;
}

.reserve__content::-webkit-scrollbar {
  visibility: hidden;
}

.carousel__buttons button {
  background: transparent;
  border: none;
  margin: 0 24px 8px;
}

.carousel__buttons button img {
  width: 40px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  25% { opacity: 0.4; }
  75% { opacity: 0.8; }
  100% { opacity: 1; }
}
.reserve__content img {
  cursor: pointer;
}
.reserve__content img:nth-child(1) {
  animation: fadeIn 1s ease-in; 
}
.reserve__content img:nth-child(2) {
  animation: fadeIn 1.5s ease-in; 
}
.reserve__content img:nth-child(3) {
  animation: fadeIn 2s ease-in; 
}
.reserve__content img:nth-child(4) {
  animation: fadeIn 2.5s ease-in; 
}
.reserve__content img:nth-child(5) {
  animation: fadeIn 3s ease-in; 
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: flex;
  align-items: center;
  width: 85%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}