.reserve {
  padding: 64px 0;
  text-align: center;
}

.reserve a, button {
  cursor: pointer;
}

.reserve__content {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  padding: 16px 0;
  gap: 8px;
  overflow: auto;
}

.reserve__content img {
  width: 210px;
  height: 360px;
  object-fit: cover;
  border-radius: 100px;
  /* min-width: 300px; */
}
/* @media (max-width: 768px) {
  .reserve__content img {
    min-width: 200px;
  }
} */

.reserve__button {
  margin-top: 16px;
  background: transparent;
  height: 48px;
  padding: 0 32px;
  border-radius: 24px;
  border: 2.3px solid #000;
  font-family: 'montserrate-bold';
  text-transform: uppercase;
}

.reserve__content::-webkit-scrollbar {
  visibility: hidden;
}

.carousel__buttons button {
  background: transparent;
  border: none;
  margin: 0 24px 8px;
}

.carousel__buttons button img {
  width: 40px;
}