.posts {
  background: #e8ddd1;
  width: 100%;
  padding: 84px 0;
  position: relative;
}

.posts__content {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100%;
}

.posts__content img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  width: 100%;
}

.post__background-image {
  position: absolute;
  bottom: 0px;
  right: 0;
  background-image: url(../../assets/images/GRAFISMO_ondas.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 100%;
  z-index: 0;
}