.posts {
  background: #e8ddd1;
  width: 100%;
  padding: 136px 0 48px;
  position: relative;
  overflow: hidden;
}

.posts__content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  overflow-x: auto;
  max-width: 100%;
  position: relative;
}

.posts__content::-webkit-scrollbar {
  visibility: hidden;
}

.wrapper-arrow-right {
  position: relative;
  display: flex;
  justify-content: end;
}

.wrapper-arrow-right .arrow-right {
  right: -32px;
  position: absolute;
  text-align: end;
}

@media (max-width: 992px) {
  .wrapper-arrow-right .arrow-right {
    display: none;
  }
}

.wrapper-arrow-left {
  position: relative;
}

.wrapper-arrow-left .arrow-left {
  left: -40px;
  bottom: -300px;
  position: absolute;
  text-align: end;
}

@media (max-width: 992px) {
  .wrapper-arrow-left .arrow-left {
    display: none;
  }
}

.arrow-left,
.arrow-right {
  max-width: 80px;
}

.posts__content img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  width: 100%;
}

.posts__content img:nth-child(3), .posts__content img:nth-child(4) {
  height: 106%;
  margin-bottom: 24px;
}

.post__background-image {
  width: 40%;
  height: auto;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

.instagram {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 2px solid #000;
  border-radius: 50%;
  z-index: 10;
  left: 16%;
  top: -48px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .instagram {
    width: 140px;
    height: 140px;
    top: -128px;
  }
}

.instagram::after {
  content: 'instagram';
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  text-transform: uppercase;
  font-family: 'montserrate-bold';
  font-size: 12px;
  letter-spacing: 4px;
  color: #000;
}

.instagram-quereres {
  position: absolute;
  width: 310px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 16px;
  z-index: 10;
  right: 0px;
  top: -48px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .instagram-quereres {
    top: initial;
    right: 7%;
    bottom: 0;
  }
}

.instagram-quereres::after {
  content: '@reveillondosquereres';
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  font-family: 'montserrate-bold';
  letter-spacing: 4px;
  color: #000;
}

@media (max-width: 992px) {
  .instagram-quereres::before {
    content: '@reveillondosquereres';
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-family: 'montserrate-bold';
    letter-spacing: 4px;
    color: #000;
  }
}

.posts .container {
  position: relative;
}
