.posts {
  background: #e8ddd1;
  width: 100%;
  padding: 136px 0 48px;
  position: relative;
}

.posts__content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  overflow-x: auto;
  max-width: 100%;
  position: relative;
}
.posts__content::-webkit-scrollbar {
  visibility: hidden;
}

.posts__content .arrow-right {
  position: absolute;
  right: -40px;
  height: 56px;
  width: auto;
}

.posts__content .arrow-left {
  position: absolute;
  left: -40px;
  bottom: 80px;
  height: 56px;
  width: auto;
}

@media (max-width: 768px) {
  .posts__content .arrow-right {
   display: none;
  }
  
  .posts__content .arrow-left {
   display: none;
  }
}

.posts__content .last-item,  .posts__content .first-item{
  display: flex;
  position: relative;

}

.posts__content .first-item{
  
}

.posts__content img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  width: 100%;
}

.post__background-image {
  width: 40%;
  height: auto;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

.instagram {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 2px solid #000;
  border-radius: 50%;
  z-index: 10;
  left: 16%;
  top: -48px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .instagram {
    width: 140px;
    height: 140px;
    top: -128px;
  }

}

.instagram::after {
  content: "instagram";
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  text-transform: uppercase;
  font-family: "montserrate-bold";
  font-size: 12px;
  letter-spacing: 4px;
  color: #000;
}


.instagram-quereres {
  position: absolute;
  width: 200px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 16px;
  z-index: 10;
  right: 48px;
  top: -48px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .instagram-quereres {
    top: initial;
    bottom: 0;
  }
}

.instagram-quereres::after {
  content: "@quereres";
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  font-family: "montserrate-bold";
  letter-spacing: 4px;
  color: #000;
}
@media (max-width: 992px) {
  .instagram-quereres::before {
    content: "@quereres";
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-family: "montserrate-bold";
    letter-spacing: 4px;
    color: #000;
  }
}

.posts .container {
  position: relative;
}