.header {
  display: flex;
  justify-content: right;
  overflow: hidden;
}

.header__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__text-destination {
  display: flex;
  padding: 8px 40px;
  margin-bottom: -32px;
  justify-content: a;
  align-items: end;
  flex-direction: column-reverse;
  gap: 16px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
}

.header__text-destination img {
  width: 100%;
}

.header__img-main {
  width: 100%;
}
@media (max-width: 992px) {
  .header__img-main {
    object-fit: cover;
    min-height: 40vh;
  }
}
@media (max-width: 765px) {
  .header__img-main {
    object-fit: cover;
    max-height: 50vh;
    margin-left: -200px;
    width: auto;
  }
}

#open-menu {
  position: absolute;
  top: 16px;
  right: 20%;
}

.header__nav.close,
.header__nav--mobi.close {
  transform: translateY(-3000px);
}

.header__nav--mobi {
  position: absolute;
  top: 0;
  width: 60%;
  max-width: 300px;
  z-index: 99;
}

.header__nav,
.header__nav--mobi {
  transition: all 1s ease-in-out;
  transform: translateY(0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #e8ddd1;
  padding: 16px 0 0;
  z-index: 99;
}

.header__nav ul,
.header__nav--mobi ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.header__nav ul li,
.header__nav--mobi ul li {
  padding: 16px 0;
  font-size: 15px;
  font-family: 'montserrate-medium';
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__nav ul li {
    padding: 12px 0;
  }
}

.header__nav ul li#current {
  color: #c5aa80;
}

.header__nav ul li:hover {
  color: #c5aa80;
}

.header__nav .wrapper-arrow,
.header__nav--mobi .wrapper-arrow {
  padding: 24px 0;
  text-align: center;
  background: #c5aa80;
  width: 100%;
}

.header__nav .wrapper-arrow img,
.header__nav--mobi .wrapper-arrow img {
  max-width: 90px;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.menu-btn#close-menu .bar:nth-child(1),
.menu-btn#close-menu--mobi .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-btn#close-menu .bar:nth-child(2),
.menu-btn#close-menu--mobi .bar:nth-child(2) {
  opacity: 0;
}

.menu-btn#close-menu .bar:nth-child(3),
.menu-btn#close---mobi .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
