.header {
 display: flex;
 justify-content: right;
 position: relative;
 padding-top: 32px;
}

.header__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__text-destination {
  display: flex;
  gap: 24px;
  padding: 8px 40px;
  margin-bottom: -32px;
  justify-content: space-between;
  align-items: center;
  
}

.header__text-destination img {
  width: 100%;
}

.header__img-main {
  width: 100%;
}
@media (max-width: 992px) {
  .header__img-main {
    min-height: 50vh;
    object-fit: cover;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #e8ddd1;
}

.header__nav ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.header__nav ul li {
  padding: 18px 0;
  font-size: 15px;
  font-family: "montserrate-medium";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.header__nav .wrapper-arrow {
  padding: 24px 0;
  text-align: center;
  background: #c5aa80;
  width: 100%;
}

.header__nav .wrapper-arrow img{
  width: 40%;
}

.wrapper-menu-open {
  position: relative;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.menu-btn.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-btn.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
