.footer {
}

.footer__content-main {
  position: relative;
  display: flex;
	min-height: 380px;
}

.footer__content-main .grafismo-coqueiro {
  height: auto;
  width: 45%;
  height: auto;
  object-fit: cover;
	position: absolute;
	bottom: 0;
	right: 0;
}

.footer__content-main .grafismo-espiral {
	bottom: 0;
  width: 10%;
  height: auto;
  object-fit: cover;
	z-index: -1;
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer__content-main .info {
	display: flex;
	flex-wrap: wrap;
	gap: 56px;
}
@media (max-width: 992px) {
	.footer__content-main .info {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer__content-main .info :nth-child(1){
		text-align: center;
	}
}

.footer__content-main .info__text {
	font-size: 1.1rem;
	font-family: "montserrate-light";
	color: #000;
	padding: 8px 0;
}

.footer__content-main .info .wrapper-logo-quereres img, 
.footer__content-main .info__logo {
	width: 130px;
}

.footer__footer {
	margin: 0;
	background: #191919;
	padding: 16px 0;
}

.footer__footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px 48px;
	flex-wrap: wrap;
	padding: 32px 0;
}
@media (max-width: 768px) {
	.footer__footer__content {
		justify-content: center;
		align-items: center;
		padding: 32px 48px;
	}
}

.footer__footer p {
	color: #c5aa80;
	margin: 0;
	font-family: "montserrate-medium";
}

.footer__footer__content .logo-pira {
	width: auto;
	height: 40px;
}