.footer {
}

.footer__content-main {
  position: relative;
  display: flex;
	min-height: 400px;
}


.footer__content-main .grafismo-coqueiro {
  /* height: 100%; */
  height: auto;
  width: 45%;
  height: auto;
  object-fit: cover;
	position: absolute;
	bottom: 0;
	right: 0;
}

.footer__content-main .grafismo-espiral {
  /* height: 100%; */
	/* position: absolute; */
	margin-left: -2%;
	bottom: 0;
  width: 12%;
  height: auto;
  object-fit: cover;
	z-index: -1;
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer__content-main .info {
	display: flex;
	justify-content: space-between;
	gap: 56px;
}

.footer__content-main .info .logo {
	width: 150px;
}

.footer__content-main .info .wrapper-logo-quereres img {
	width: 130px;
}

.footer__content-main--mobi {
	position: relative;
	padding-top: 56px;
}

.footer__content-main--mobi .info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px 64px;
}

.footer__content-main--mobi .info__contato {
	display: flex;
	flex-direction: column;
	gap: 16px;
	/* text-align: center; */
}

.footer__content-main--mobi .info__contato .logo {
	width: 150px;
	margin-bottom: 32px;
}

.footer__content-main--mobi .wrapper-logo-quereres img {
	width: 160px;
}

.footer__content-main--mobi  .grafismo-coqueiro {
	width: 100%;
	margin-bottom: -4px;
}

.footer__footer {
	margin: 0;
	background: #191919;
}

.footer__footer__content {
	display: flex;
	justify-content: space-between;
	gap: 16px 16px;
}

.footer__footer p {
	color: #c5aa80;
	margin: 0;
	padding: 40px 0;
}
